body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  /* border: 1px solid gray; */
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

/* header */

.header-bg {
  background: #1f2937;
}

.header {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  display: flex;
}

.header-nav {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 10px; */
  background: #1f2937;
  /* height: 5vh; */
}

.header-nav a {
  color: #e5e7eb;
  padding: 16px;
  transition: all 250ms;
  border: none;
}

.nav-button:hover {
  scale: 1.05;
  cursor: pointer;
}

/* hero part below header */

.hero {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 300px;
  background: #1f2937;
}

.hero-info {
  align-items: center;
  justify-content: center;
  padding: 60px;
  text-align: left;
  margin: 0 auto;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-info p {
  font-size: 18px;
  font-weight: 400;
  color: #f9faf8;
  line-height: 1.2;
}

.hero-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px;
  margin: 6px 0px;
  font-size: 16px;
  border-radius: 12%;
  transition: all 250ms;
  border: none;
  margin-top: 16px;
}

.hero-button:hover {
  scale: 1.05;
  cursor: pointer;
}

.hero-img {
  width: 550px;
  height: 300px;
  padding: 30px;
  margin-left: 30px;
}

/* info */

.info {
  align-items: center;
}

.info-box {
  display: flex;
  /* border: 1px solid gold; */
  justify-content: center;
  /* flex-wrap: wrap; */
  margin: 30px;
  padding: 24px;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #1f2937;
  padding: 10px;
}

.info-box img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

/* quote */

.quote {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e5e7eb;
  padding: 80px;
  margin: 0px;
}

.quote h1 {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 400;
}

.quote p {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  margin-top: 5px;
}

/* footer */

.footer {
  background-color: #1f2937;
  color: #fff;
  font-family: "Roboto", arial;
}
