body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  /* border: 1px solid gray; */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */

.header-bg {
  flex: 1;
  background: #1f2937;
}

.header {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  display: flex;
}

.header-nav {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #1f2937;
}

.header-nav a {
  color: #e5e7eb;
  padding: 16px;
}

/* hero part below header */

.hero {
  display: flex;
  flex: 1;
  margin: 0 auto;
  background: #1f2937;
  align-items: center;
  justify-content: space-around;
  padding: 0 400px;
}

.hero-info {
  flex: 1 1 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  margin: 0 auto;
  padding: 5px;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0 auto;
  padding: 5px;
}

.hero-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px;
  margin: 6px 0px;
  font-size: 16px;
  border-radius: 12%;
  transition: all 250ms;
  border: none;
  margin-top: 16px;
  margin-left: 5px;
}

.hero-button:hover {
  scale: 1.05;
  cursor: pointer;
}

.h-img {
  display: flex;
  max-width: 700px;
  max-height: 700px;
  flex: 1 0 400px;
  padding: 48px;
  margin: 0 auto;
}

/* info */

.info-box {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  padding: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.img-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 30px;
}

.information img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin: 5px 20px 0px 20px;
  margin-top: 30px;
}

.p-out {
  font-size: 24px;
  padding: 16px;
  margin: 16px;
  margin-top: 24px;
  font-weight: 300;
  line-height: 1.2;
}

/* quote */

.quote {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e5e7eb;
  padding: 80px;
  margin: 0px;
}

.quote h1 {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 400;
}

.quote p {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  margin-top: 5px;
}

/* footer */

footer {
  display: flex;
  background: #1f2937;
  color: #f9faf8;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  flex: 1;
}
